fastapi==0.136.0
  starlette==1.0.0
    anyio==4.13.0
      idna==3.11
  pydantic==2.13.2
  email-validator
    annotated-types==0.7.0
    pydantic_core==2.46.2
      typing_extensions==4.15.0
    typing_extensions==4.15.0
    typing-inspection==0.4.2
      typing_extensions==4.15.0
  typing_extensions==4.15.0
  typing-inspection==0.4.2
    typing_extensions==4.15.0
  annotated-doc==0.0.4
pip==26.0.1
pipdeptree==2.35.1
  packaging==26.1
python-dotenv==1.2.2
uvicorn==0.44.0
  click==8.3.2
    colorama==0.4.6
  h11==0.16.0
supabase==2.25.1
zai-sdk
pymupdf
python-multipart
openai
pytesseract